@using CarPortal.Web.Models.Offer
@model AddOfferViewModel

@{
    ViewBag.Title = "Add Offer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-12">
        <form asp-action="AddOffer" method="post" enctype="multipart/form-data">
            <h3 class="text-center">Technical info:</h3>
            <div class="mb-3">
                <label asp-for="@Model.Car.VehicleCategoryId" class="form-label">Category</label>
                <select asp-for="@Model.Car.VehicleCategoryId" class="form-control">
                    <option value="null"></option>
                    @foreach (var category in @Model.Car.VehicleCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.ManufacturerId" class="form-label">Manufacturer</label>
                <select id="manufacturerSelect" onselect="GetModels" asp-for="@Model.Car.ManufacturerId" class="form-control">
                    <option value="null"></option>
                    @foreach (var manufacturer in @Model.Car.Manufacturers)
                    {
                        <option value="@manufacturer.Id">@manufacturer.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.ModelId" class="form-label">Model</label>
                <select id="modelSelect" asp-for="@Model.Car.ModelId" class="form-control">
                    <option value="null"></option>
                    @foreach (var vehicleModel in @Model.Car.VehicleModels)
                    {
                        <option value="@vehicleModel.Id">@vehicleModel.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.FuelTypeId" class="form-label">FuelType</label>
                <select asp-for="@Model.Car.FuelTypeId" class="form-control">
                    <option value="null"></option>
                    @foreach (var fuelType in @Model.Car.FuelTypes)
                    {
                        <option value="@fuelType.Id">@fuelType.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.TransmissionTypeId" class="form-label">Transmission Type</label>
                <select asp-for="@Model.Car.TransmissionTypeId" class="form-control">
                    <option value="null"></option>
                    @foreach (var transmissionType in @Model.Car.TransmissionTypes)
                    {
                        <option value="@transmissionType.Id">@transmissionType.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.EngineDisplacement" class="form-label">Engine Displacement:</label>
                <input asp-for="@Model.Car.EngineDisplacement" class="form-control" />
                <span asp-validation-for="@Model.Car.EngineDisplacement" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.Year" class="form-label">Year:</label>
                <input asp-for="@Model.Car.Year" class="form-control" />
                <span asp-validation-for="@Model.Car.Year" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.Mileage" class="form-label">Mileage:</label>
                <input asp-for="@Model.Car.Mileage" class="form-control" />
                <span asp-validation-for="@Model.Car.Mileage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.ColorId" class="form-label">Color:</label>
                <select asp-for="@Model.Car.ColorId" class="form-control">
                    <option value="null"></option>
                    @foreach (var color in @Model.Car.Colors)
                    {
                        <option value="@color.Id">@color.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Car.IsBrandNew" class="form-label">Is the vehicle brand new?</label>
                <input asp-for="@Model.Car.IsBrandNew" class="form-check" />
                <span asp-validation-for="@Model.Car.IsBrandNew" class="text-danger"></span>
            </div>
            <hr />
            <h3 class="text-center">Offer info:</h3>
            <div class="mb-3">
                <label asp-for="@Model.Thumbnail">Thumbnail</label>
                <input asp-for="@Model.Thumbnail" class="form-control" />
                <span asp-validation-for="@Model.Thumbnail"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Images">Images</label>
                <input asp-for="@Model.Images" class="form-control" multiple />
                <span asp-validation-for="@Model.Images"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label"> Price</label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RegionId" class="form-label">Region</label>
                <select asp-for="@Model.RegionId" class="form-control">
                    <option value="null"></option>
                    @foreach (var region in @Model.Regions)
                    {
                        <option value="@region.Id">@region.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CityId" class="form-label">City</label>
                <select asp-for="@Model.CityId" class="form-control">
                    <option value="null"></option>
                    @foreach (var city in @Model.Cities)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AdditionalInfo" class="form-label">Additional info:</label>
                <textarea asp-for="@Model.AdditionalInfo" class="form-control" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ContactPhoneNumber" class="form-label">Contact phone number:</label>
                <input asp-for="@Model.ContactPhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
function GetModels(manufacturerId) = {
    $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/api/DropDow",
                data: "{3}",
                success: function(data) {
                    var s = '<option value="-1">Please Select a Model</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].ModelId + '">' + data[i].ModelName + '</option>';
                    }
                    $("#departmentsDropdown").html(s);
                }
            });
        });
}
    </script>
}
