@model OfferDetailsViewModel

@{
    ViewBag.Title = "Offer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="col-lg-8 offset-2">
    <h3 class="text-center">@Model.Name</h3>
    <hr />
    <img class="img-thumbnail row-lg-4" src="@Model.ThumbnailUrl" alt="Card image cap">
    <table class="table table-striped row-lg-4">
        <tr>
            <td>
                Category:
            </td>
            <td>
                @Model.Car.VehicleCategory
            </td>
        </tr>
        <tr>
            <td>
                Car model:
            </td>
            <td>
                @Model.Car.Manufacturer @Model.Car.Model
            </td>
        </tr>
        <tr>
            <td>
                Fuel type:
            </td>
            <td>
                @Model.Car.FuelType
            </td>
        </tr>
        @if (@Model.Car.EngineDisplacement != null)
        {
            <tr>
                <td>
                    Engine displacement:
                </td>
                <td>
                    @Model.Car.EngineDisplacement
                </td>
            </tr>
        }
        @if (@Model.Car.HorsePower != null)
        {
            <tr>
                <td>
                    Horsepower:
                </td>
                <td>
                    @Model.Car.HorsePower
                </td>
            </tr>
        }
        <tr>
            <td>
                Year:
            </td>
            <td>
                @Model.Car.Year
            </td>
        </tr>
        <tr>
            <td>
                Mileage:
            </td>
            <td>
                @Model.Car.Mileage km
            </td>
        </tr>
        <tr>
            <td>
                Additional info:
            </td>
            <td>
                //TODO
            </td>
        </tr>
        <tr>
            <td>
                Extras:
            </td>
            <td>
                @Model.Car.Extras
            </td>
        </tr>
    </table>
</div>


<div id="carouselExampleControls" class="carousel slide col-lg-8 offset-2" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.PictureIds.Count(); i++)
        {
            var picture = Model.PictureIds[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                 src="@picture" alt="Picture">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
