@using CarPortal.Web.Models.Search;
@model DealerSearchViewModel;

<h3 class="text-center">Search dealers</h3>
<hr />

<form asp-action="Dealers" method="post" enctype="multipart/form-data">
    <div class="">
        <label class="form-label">Name:</label>
        <input class="form-control" asp-for="@Model.Name" />
    </div>

    <input class="btn btn-primary" type="submit" value="Search" />
</form>

<h3 class="text-center">Dealers: @Model.Dealers.Count</h3>
<hr />

@if (Model.Dealers.Count == 0)
{
    <h4 class="text-center">No dealers matching your search</h4>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>Username</th>
            <th>Offers count</th>
            <th>Profile link</th>
        </tr>
        @foreach (var result in @Model.Dealers)
        {
            <tr>
                <td>
                    @result.Username
                </td>
                <td>
                    @result.OfferCount
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="UserProfile" asp-controller="User" asp-route-id="@result.Username">Profile</a>
                </td>
            </tr>
        }
    </table>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}