@using CarPortal.Web.Models.Search
@model SearchInputViewModel

@{
    ViewData["Title"] = "Custom Search";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form asp-action="Offers" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>
                        <label asp-for="@Model.VehicleCategoryId" class="form-label col-4">Category</label>
                    </td>
                    <td>
                        <select asp-for="@Model.VehicleCategoryId" class="form-control col-4">
                            <option value=""></option>
                            @foreach (var category in @Model.VehicleCategories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.ManufacturerId">Manufacturer</label>
                    </td>
                    <td>
                        <select id="manufacturerSelect" asp-for="@Model.ManufacturerId" class="form-control col-4">
                            <option value=""></option>
                            @foreach (var manufacturer in @Model.Manufacturers)
                            {
                                <option value="@manufacturer.Id">@manufacturer.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.ModelId">Model</label>
                    </td>
                    <td>
                        <select id="modelSelect" asp-for="@Model.ModelId" class="form-control col-4">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label col-4">Engine displacement:</label>
                    </td>
                    <td class="input-group">
                        <input asp-for="@Model.MinEngineDisplacement" placeholder="Min" class="form-control" />
                        <span asp-validation-for="@Model.MinEngineDisplacement"></span>
                        <input asp-for="@Model.MaxEngineDisplacement" placeholder="Max" class="form-control" />
                        <span asp-validation-for="@Model.MaxEngineDisplacement"></span>
                        <span class="input-group-text">cc</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label col-4">Year:</label>
                    </td>
                    <td class="input-group">
                        <input asp-for="@Model.MinYear" placeholder="Min" class="form-control" />
                        <input asp-for="@Model.MaxYear" placeholder="Max" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label col-4">Max mileage:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.MaxMileage" placeholder="Max" class="form-control" />
                        <span asp-validation-for="@Model.MaxMileage"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label col-4">Price:</label>
                    </td>
                    <td class="input-group">
                        <input asp-for="@Model.MinPrice" placeholder="Min" class="form-control" />
                        <span asp-validation-for="@Model.MinPrice"></span>
                        <input asp-for="@Model.MaxPrice" placeholder="Max" class="form-control" />
                        <span class="input-group-text">€</span>
                        <span asp-validation-for="@Model.MaxPrice"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label">Keyword:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.Keyword" class="form-control" />
                        <span asp-validation-for="@Model.Keyword"></span>
                    </td>
                </tr>
            </table>
            <div class="form-check">
                <input asp-for="@Model.FromDealer" class="form-check-input" type="radio" value="true">
                <label class="form-check-label" for="flexRadioDefault1">
                    From Dealers
                </label>
            </div>
            <div class="form-check">
                <input asp-for="@Model.FromDealer" class="form-check-input" type="radio" value="false">
                <label class="form-check-label" for="flexRadioDefault2">
                    From Non-Dealers
                </label>
            </div>
            <div class="form-check">
                <input asp-for="@Model.FromDealer" class="form-check-input" type="radio" value="">
                <label class="form-check-label">Both</label>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <h4 class="text-center">Select fuel types:</h4>
                <hr />
                @{
                    int fuelTypeCount = Model.FuelTypes.Count;
                    for (int i = 0; i < fuelTypeCount; i += 2)
                    {
                        <tr class="table-bordered">
                            <td class="col-1 table-info"><input id="@Model.FuelTypes[i].Value" type="checkbox" name="fuelTypeIds" value="@Model.FuelTypes[i].Value" checked="@Model.FuelTypes[i].Selected" /></td>
                            <td class="col-1 table-info"><label asp-for="@Model.FuelTypes[i].Value">@Model.FuelTypes[i].Text</label></td>

                            <td class="col-1"><input id="@Model.FuelTypes[i + 1].Value" type="checkbox" name="fuelTypeIds" value="@Model.FuelTypes[i + 1].Value" checked="@Model.FuelTypes[i + 1].Selected" /></td>
                            <td class="col-1"><label asp-for="@Model.FuelTypes[i + 1].Value">@Model.FuelTypes[i + 1].Text</label></td>
                        </tr>
                        if (i + 2 == fuelTypeCount - 1)
                        {
                            <tr>
                                <td class="col-1 table-info"><input id="@Model.FuelTypes[i + 2].Value" type="checkbox" name="fuelTypeIds" value="@Model.FuelTypes[i + 2].Value" checked="@Model.FuelTypes[i + 2].Selected" /></td>
                                <td class="col-1 table-info"><label asp-for="@Model.FuelTypes[i + 2].Value">@Model.FuelTypes[i + 2].Text</label></td>
                            </tr>
                            break;
                        }
                    }
                }
            </table>
            <table class="table table-striped">
                <h4 class="text-center">Select transmission types:</h4>
                <hr />
                @{
                    int transmissionsCount = Model.TransmissionTypes.Count;
                    for (int i = 0; i < transmissionsCount; i += 2)
                    {
                        <tr class="table-bordered">
                            <td class="col-1 table-info"><input id="@Model.TransmissionTypes[i].Value" type="checkbox" name="transmissionTypeIds" value="@Model.TransmissionTypes[i].Value" checked="@Model.TransmissionTypes[i].Selected" /></td>
                            <td class="col-1 table-info"><label asp-for="@Model.TransmissionTypes[i].Value">@Model.TransmissionTypes[i].Text</label></td>

                            <td class="col-1"><input id="@Model.TransmissionTypes[i + 1].Value" type="checkbox" name="transmissionTypeIds" value="@Model.TransmissionTypes[i + 1].Value" checked="@Model.TransmissionTypes[i + 1].Selected" /></td>
                            <td class="col-1"><label asp-for="@Model.TransmissionTypes[i + 1].Value">@Model.TransmissionTypes[i + 1].Text</label></td>
                        </tr>
                        if (i + 2 == transmissionsCount - 1)
                        {
                            <tr>
                                <td class="col-1 table-info"><input id="@Model.TransmissionTypes[i + 2].Value" type="checkbox" name="transmissionTypeIds" value="@Model.TransmissionTypes[i + 2].Value" checked="@Model.TransmissionTypes[i + 2].Selected" /></td>
                                <td class="col-1 table-info"><label asp-for="@Model.TransmissionTypes[i + 2].Value">@Model.TransmissionTypes[i + 2].Text</label></td>
                            </tr>
                            break;
                        }
                    }
                }
            </table>

        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <h4 class="text-center">Select colors:</h4>
                <hr />
                @{
                    int colorsCount = Model.Colors.Count;
                    for (int i = 0; i < colorsCount; i += 2)
                    {
                        <tr class="table-bordered">
                            <td class="col-1 table-info"><input id="@Model.Colors[i].Value" type="checkbox" name="colorIds" value="@Model.Colors[i].Value" checked="@Model.Colors[i].Selected" /></td>
                            <td class="col-1 table-info"><label asp-for="@Model.Colors[i].Value">@Model.Colors[i].Text</label></td>

                            <td class="col-1"><input id="@Model.Colors[i + 1].Value" type="checkbox" name="colorIds" value="@Model.Colors[i + 1].Value" checked="@Model.Colors[i + 1].Selected" /></td>
                            <td class="col-1"><label asp-for="@Model.Colors[i + 1].Value">@Model.Colors[i + 1].Text</label></td>
                        </tr>
                        if (i + 2 == colorsCount - 1)
                        {
                            <tr>
                                <td class="col-1 table-info"><input id="@Model.Colors[i + 2].Value" type="checkbox" name="colorIds" value="@Model.Colors[i + 2].Value" checked="@Model.Colors[i + 2].Selected" /></td>
                                <td class="col-1 table-info"><label asp-for="@Model.Colors[i + 2].Value">@Model.Colors[i + 2].Text</label></td>
                            </tr>
                            break;
                        }
                    }
                }
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <h4 class="text-center">Select Regions:</h4>
                <hr />
                @{
                    int regionsCount = Model.Regions.Count;
                    for (int i = 0; i < regionsCount; i += 2)
                    {
                        <tr class="table-bordered">
                            <td class="col-1 table-info"><input id="@Model.Regions[i].Value" type="checkbox" name="regionIds" value="@Model.Regions[i].Value" checked="@Model.Regions[i].Selected" /></td>
                            <td class="col-1 table-info"><label asp-for="@Model.Regions[i].Value">@Model.Regions[i].Text</label></td>

                            <td class="col-1"><input id="@Model.Regions[i + 1].Value" type="checkbox" name="regionIds" value="@Model.Regions[i + 1].Value" checked="@Model.Regions[i + 1].Selected" /></td>
                            <td class="col-1"><label asp-for="@Model.Regions[i + 1].Value">@Model.Regions[i + 1].Text</label></td>
                        </tr>
                        if (i + 2 == regionsCount - 1)
                        {
                            <tr>
                                <td class="col-1 table-info"><input id="@Model.Regions[i + 2].Value" type="checkbox" name="regionIds" value="@Model.Regions[i + 2].Value" checked="@Model.Regions[i + 2].Selected" /></td>
                                <td class="col-1 table-info"><label asp-for="@Model.Regions[i + 2].Value">@Model.Regions[i + 2].Text</label></td>
                            </tr>
                            break;
                        }
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Select Extras:</h4>
        <hr />

        @{
            int extrasCount = Model.Extras.Count;
            for (int i = 0; i < extrasCount; i += 2)
            {

                <div class="">
                    <input class="form-check-input" id="@Model.Extras[i].Value" type="checkbox" name="extraIds" value="@Model.Extras[i].Value" checked="@Model.Extras[i].Selected" />
                    <label class="form-check-label" asp-for="@Model.Extras[i].Value"> @Model.Extras[i].Text</label>
                </div>
                <div class="">
                    <input class="form-check-input" id="@Model.Extras[i + 1].Value" type="checkbox" name="extraIds" value="@Model.Extras[i + 1].Value" checked="@Model.Extras[i + 1].Selected" />
                    <label class="form-check-label" asp-for="@Model.Extras[i + 1].Value"> @Model.Extras[i + 1].Text</label>
                </div>

                if (i + 2 == extrasCount - 1)
                {

                    <div class="">
                        <input class="form-check-input mt-0" id="@Model.Extras[i + 2].Value" type="checkbox" name="extraIds" value="@Model.Extras[i + 2].Value" checked="@Model.Extras[i + 2].Selected" />
                        <label class="form-checl-label" asp-for="@Model.Extras[i + 2].Value"> @Model.Extras[i + 2].Text</label>
                    </div>

                    break;
                }
            }
        }

    </div>
    <div class="text-center col-4 offset-4 mt-3">
        <div class="input-group mb-3">
            <label class="input-group-text" asp-for="@Model.OrderBy">Sort</label>
            <select class="form-select" asp-for="@Model.OrderBy">
                <option selected>Choose...</option>
                <option asp-for="@Model.OrderBy" value="Price Ascending">Price Ascending</option>
                <option asp-for="@Model.OrderBy" value="Price Descending">Price Descending</option>
                <option asp-for="@Model.OrderBy" value="Year Ascending">Year Ascending</option>
                <option asp-for="@Model.OrderBy" value="Year Descending">Year Descending</option>
                <option asp-for="@Model.OrderBy" value="Most recently added">Most recently added</option>

            </select>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Search!" />
    </div>
    <div class="text-center">
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#manufacturerSelect').change(function GetModelsForManufacturer() {
            var selected = $(this).val();
            $.ajax({
                url: 'https://localhost:7232/api/PageData/models',
                data: { id: $('#manufacturerSelect option:selected').val() },
                type: "get",
                cache: true,
            }).done(function (data) {
                var modelSelect = $('#modelSelect');
                modelSelect.empty();
                $.each(data["modelCollection"], function (index, model) {
                    modelSelect.append(
                        $('<option>', {
                            value: model.id
                        }).text(model.name)
                    );
                });
            }).fail(function (error) {
                //Do something with the error response
            });
        });
    </script>
    <script>
        $('#regionSelect').change(function GetCitiesForRegion() {
            var selected = $(this).val();
            $.ajax({
                url: 'https://localhost:7232/api/PageData/cities',
                data: { id: $('#regionSelect option:selected').val() },
                type: "get",
                cache: true,
            }).done(function (data) {
                var modelSelect = $('#citySelect');
                modelSelect.empty();
                $.each(data["cityCollection"], function (index, model) {
                    modelSelect.append(
                        $('<option>', {
                            value: model.id
                        }).text(model.name)
                    );
                });
            }).fail(function (error) {
                //Do something with the error response
            });
        });
    </script>
}