@using CarPortal.Web.Models.User
@model ProfileViewModel

<h3 class="text-center">Profile</h3>
<hr />
<div class="row">
    <table class="table table-striped col-4">
        <tr>
            <td class="col-4">
                <img src="/Images/Offers/Thumbnails/2b8ffc30-0fb3-4d03-a067-ff92f0ba1ca3.jpg" class="img-thumbnail" alt="Profile pictures coming soon!" />
            </td>
            <td class="col-4">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <label asp-for="@Model.UserName">@Model.UserName</label>
                        </td>
                    </tr>
                    <tr>
                        @if (@Model.IsDealer)
                        {
                            <td>
                                Dealer
                            </td>
                        }
                        else
                        {
                            <td>
                                Not a dealer
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>
                            Registered: @Model.CreatedOn.Value.ToShortDateString()
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <h4 class="text-center">Uploaded offers</h4>
    <hr />
    @if (@Model.UploadedOffers.Count == 0)
    {
        <text>There are no offers, uploaded by this user.</text>
    }
    else
    {
        @*@foreach (var offer in @Model.UploadedOffers)
        {
            <partial name="_OfferCollectionPartial" model="@offer" />
        }*@
        <partial name="_OfferCollectionPartial" model="@Model.UploadedOffers" />
    }
</div>